/*  PRIMERA FILA 
--1er-claro:#ff8123;
--2er-claro:#FFDD33;
--3er-claro:#33FFA8;
--4er-claro:#C7D5D2;

--1er-oscuro:#091B1B;
--2er-oscuro:#302E04;
--3er-oscuro:#04302F;
--4er-oscuro:#D71111;

*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

body{	
	padding: 0;
	margin: 0;
	font-family: times new roman;

}

.container {	
	width:100%;
	background:#fff;
	overflow: hidden;
	margin: 0 auto;
	
	
}

header{
	background:#C7D5D2;
	width: 100%;
	margin: 0 auto;
	height: auto;

}

.logo {
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 80%;
	margin:0 auto;
	padding: 0 0 30px 0;

}

.logo img{

	margin-top: 7%;
	width: 410px;
	height: 200px;

}


.correo{

	color: #173A56;
	margin: 7% 0 0 50%;
	width: 80%;
	letter-spacing: 2px;

}

.far{

	font-size: 20px;

}

.encabezado_titulo {
	width:100%;
	font-size:50px;
	color:#277474;
	letter-spacing: 3px;
	text-align: center;
	text-shadow:3px 3px 3px #fff;

}


.enlaces_header{	

	margin:0 auto;
	padding: 30px;
	width: 100%;
	background: #04302F;
	text-align: center;
}

.enlaces_header ul li{	

	display: inline-block;
	padding: 1% 7%;	

}

.enlaces_header ul li a{	

	text-decoration:none;
	color: #fff;
	letter-spacing: 2px;
	text-transform: uppercase;

}

.enlaces_header ul li a:hover {	

	background: transparent;
	box-shadow : 0 0 10px 0 rgba(255, 255, 255, 0.7);
	transition : all .4s;
}


.main{
	
	width:100%;
	/*background:url(../imagenes/fondo.jpg);*/
	background:url(https://previews.123rf.com/images/iulias/iulias1306/iulias130600045/19987217-grunge-fondo-con-espacio-para-texto-o-imagen-para-el-dise%C3%B1o-creativo-dise%C3%B1o-ilustraciones-de-estilo-vintag.jpg);
	background-attachment: fixed;
	margin:0 auto;
	min-height: 350px;
	height: 0 auto;


}



.producto {
	width: 40%;
	padding: 4% 0 4% 12%;*/
	margin: 2%;¨*/
	background:blue; 
	display: inline-block; /* para bloques en linea, no agrega un salto de línea después del elemento, por lo que el elemento puede ubicarse junto a otros elementos */
	text-align: center;


}


.producto img{
	width: 60%;
	border-radius: 50%;
	-webkit-box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.75);
	-moz-box-shadow:    0px 0px 10px rgba(74, 74, 74, 0.75);
	box-shadow:         0px 0px 10px rgba(74, 74, 74, 0.75);
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;


}  

.producto img:hover{
	-webkit-transform: rotate(355deg);
	-moz-transform: rotate(355deg);
}


.producto .formulario__btn{

	cursor: pointer;

}

.parrafo_nombre{

	color: #000;
	font-size: 30px;
	font-weight: bolder;
	width: 80%;
	margin: 0 auto;



}



.formulario__btn {
	font-weight: bold;
	width: 15%;
	height: 50px;
	border: 2px solid #0099CC;
	border-radius: 5px;
	background: white;
	font-weight: bold; 
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;

}


.formulario__btn:hover{
	background: #008CBA;
	color: #fff; 

}

a .formulario__btn{

	color: #000;
	text-decoration:none;
	font-size: 1.0rem;
	font-weight: bold;

}



.social_footer {

	background:gray;
	color:#fff;
	text-align:center;
	height: 100px;

}

.social_footer i {

	font-size: 40px;
	margin-top: 20px;
}


.proyectos{
	height: 0 auto;
	padding: 30px 0;

}

.proyectos h2{

	color: #515556;
	width: 30%;
}

.proyectos h3{
	width: 50%;
	text-align: center;
	font-family: verdana;
	color: #000;
	text-shadow: 2px 2px #FF0000;
	font-size: 25px;

}

.proyectos p {
	color:#6F3D24;
	font-weight:bold;
	font-size: 30px;
	text-transform: uppercase;

}


.aceptar {
	background-color: #C7D5D2;;
	color:#2E789C;
	font-weight: bold;
	border-radius: 4px;
	font-size: 1.3rem;
	width: 50%;
	height: 40px;
	border:1px solid #fafafa;


}

.aceptar:hover{
	background-color: #4a4a4a;
	cursor: pointer;
	color: white;
	-webkit-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	transition: all 700ms ease;
}


nav menu{

	text-align: center;
	background: #ff8000;

}

nav menu li{

	display: inline-block;
	padding: 30px 100px;


}

nav menu li a{

	text-decoration: none;
	font-weight: bold;
	padding: 10px;
	border: 1px solid #fff;
	border-radius: 4px;
	font-size: 20px;
}


.selected {
	top   : -20px;
	color : #4eacff;
	font-weight: bold;
	background-color: #fff;
	box-shadow : 0 0 5px 0 rgba(255, 255, 255, 0.7);
	transition : all .4s;


}

.selected:hover{

	transition   : all .6s;
	background-color: #000;

}



.mision{

  width: 70%;
  margin:0 auto;


}

.mision h1,h2,h3,h4{ padding: 10px;}
.mision h1{padding: 10px;}
.mision h1{color: #ff8123;}
.mision h2{color: gray;}
.mision h3{color: #33FFA8;}
.mision h4{color: gray;}



/* ###################################################################### */
/* ###################################################################### */
/* ###################################################################### */
/* ###################################################################### */


/* MOVILES */


@media screen and (max-width: 1200px) {

	a .formulario__btn{

		font-size: 0.9rem;	
		width: 35%; 	

	}


	.enlaces_header ul li{

		padding: 1% 5%;	

	}

	.parrafo_nombre {

		font-size:23px;

	}


	.parrafo_descripcion{


	width: 100%;
	height: auto;
	padding: 20px;
	justify-content: center;
	align-items: center;
	display: flex;



	}


	.parrafo_descripcion img{

		padding: 20px;




	}
	.parrafo_descripcion p{



		width: 50%;




	}


	
}




@media screen and (max-width:950px) {

	.logo {

		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;

	}

	.correo{

		margin: 0;

	}


	.enlaces_header ul li{

		display: block;
		line-height: 50px;
		text-align: center;


	}

	.parrafo_nombre {

		font-size: 20px;

	}


	.parrafo_descripcion{


	width: 100%;
	height: auto;
	padding: 20px;
	justify-content: center;
	align-items: center;
	display: flex;
		font-size: 15px;


	}


	.parrafo_descripcion img{

		padding: 20px;

	}
	.parrafo_descripcion p{

		width: 50%;


	}
		.proyectos h2{

		width: 100%;
}

	.proyectos h3{
		width: 100%;

}

	
}

@media screen and (max-width: 800px) {


	.producto {
		width: 100%;
		margin: 0 auto;
		display: flex;
		border: 1px solid #fff;
		justify-content: center;
		align-items: center;
		position: relative;
		padding: 70px 70px;

	}

	.producto img {
		width: 40%;

	}  


	a .formulario__btn {

		font-size: 0.6rem;
		width: 15%;
		position: absolute;
		left: 0;
		top: 0;
	}

	.parrafo_nombre {

		font-size:18px;

	}


	.parrafo_descripcion {

	width: 100%;
	height: auto;
	padding: 20px;
	justify-content: center;
	align-items: center;
	display: block;
	font-size: 13px;

	}


	.parrafo_descripcion img{

		padding: 20px;



	}
	.parrafo_descripcion p{

		width: 100%;


	}
	.proyectos h2{

		width: 100%;
}

	.proyectos h3{
		width: 100%;

}


}

